{% extends 'base/base.html' %}
{% block title %}Homepage{% endblock %}
{% block container %}
<div class="row pt-3">
    <div class="align-center">
    <h3>On homepage</h3>
    </div>
</div>
{% endblock %}