{% extends 'base/base.html' %}
{% block title %}Departments{% endblock %}
{% block container %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<p class="alert alert-{{ category }}">{{ message }}</p>
{% endfor %}
<div class="row">
    <div class="align-center">
        {% if depts %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Department ID</th>
                <th>Department Name</th>
                <th>Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for dept in depts %}
            <tr>
                <td>{{dept.dept_id}}</td>
                <td>{{dept.dept_name}}</td>
                <td>
                    <a href="{{ url_for('edit_dept', dept_id=dept._id) }}" class="btn btn-info" role="button">Edit</a>
                    <a href="{{ url_for('delete_dept', dept_id=dept._id) }}" class="btn btn-info delete" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3>No departments added yet !</h3>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        var delete_user = $('.delete');
        delete_user.click(function(e){
            e.preventDefault();
            var confirm_delete = confirm("Are you sure about deleting this ?")
            if(Boolean(confirm_delete)){
                var delete_url = $(this).attr('href');
                window.location.href = delete_url;
            }
        });
    });
</script>
{% endblock %}