{% extends 'base/base.html' %}
{% block title %}Edit Department{% endblock %}
{% block container %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<p class="alert alert-{{ category }}">{{ message }}</p>
{% endfor %}
<div class="row pt-3">
    <div class="col-6 align-center">
        <form action="{{ url_for('edit_dept', dept_id=dept._id) }}" enctype="multipart/form-data" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.dept_id.label }}
                {{ form.dept_id(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.dept_name.label }}
                {{ form.dept_name(class_="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{{url_for('departments')}}" class="btn btn-primary" role="button">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}