<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" type="text/css"/>
    <title>
        {% block title %}Homepage{% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" integrity="sha256-bLNUHzSMEvxBhoysBE7EXYlIrmo7+n7F4oJra1IgOaM=" crossorigin="anonymous" />
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
        <a class="navbar-brand" href="javascript:;">App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:;" id="userDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Users
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdownMenuLink">
                        <a class="dropdown-item" href="{{url_for('users')}}">Users</a>
                        <a class="dropdown-item" href="{{url_for('add_user')}}">Add User</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:;"
                       id="departmentDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Departments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="departmentDropdownMenuLink">
                        <a class="dropdown-item" href="{{url_for('departments')}}">Departments</a>
                        <a class="dropdown-item" href="{{url_for('add_dept')}}">Add Department</a>
                    </div>
                </li>
            </ul>
        </div>
</div>
</nav>
{% block container %}
{% endblock container %}
</div>
{% include 'base/script.html' %}
{% block script %}
{% endblock script %}
</body>
</html>