{% extends 'base/base.html' %}
{% block title %}Edit User{% endblock %}
{% block container %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<p class="alert alert-{{ category }}">{{ message }}</p>
{% endfor %}
<div class="row pt-3">
    <div class="col-6 align-center">
        <form action="{{ url_for('edit_user', user_id=user._id) }}" enctype="multipart/form-data" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.first_name.label }}
                {{ form.first_name(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.last_name.label }}
                {{ form.last_name(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.dob.label }}
                {{ form.dob(class_="form-control", **{"readonly":true}) }}
            </div>
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.department.label }}
                {{ form.department(class_="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{{url_for('users')}}" class="btn btn-primary" role="button">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $('#dob').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker').datepicker("setDate", new Date());
</script>
{% endblock %}