{% extends 'base/base.html' %}
{% block title %}Users{% endblock %}
{% block container %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<p class="alert alert-{{ category }}">{{ message }}</p>
{% endfor %}
<div class="row">
    <div class="align-center">
        {% if users %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Date of Birth</th>
                <th>Department</th>
                <th>Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.dob.strftime('%d %b %Y')}}</td>
                {% with department = depts.find_one({"_id":{"$eq":deptUsers.find_one({"user_id":{"$eq":user._id}})['dept_id']}})['dept_name'] %}
                    {% if department %}
                        <td>{{department}}</td>
                    {% else %}
                        <td> - </td>
                    {% endif %}
                {% endwith %}
                <td>
                    <a href="{{ url_for('edit_user', user_id=user._id) }}" class="btn btn-info" role="button">Edit</a>
                    <a href="{{ url_for('delete_user', user_id=user._id) }}" class="btn btn-info delete" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3>No users added yet !</h3>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        var delete_user = $('.delete');
        delete_user.click(function(e){
            e.preventDefault();
            var confirm_delete = confirm("Are you sure about deleting this ?")
            if(Boolean(confirm_delete)){
                var delete_url = $(this).attr('href');
                window.location.href = delete_url;
            }
        });
    });

</script>
{% endblock %}